# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Bundler
Gemfile.lock
pkg

# Examples
example/*_cauterize_output

# Nunit test results
TestResult.xml

# rbenv
.ruby-version

# Tags
tags
