# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Bundler
Gemfile.lock
pkg

# Examples
example/c_cauterize_output
example/cs_cauterize_output
